body {
    background: #EEEEEE;
}

table.striped > tbody > tr:nth-child(2n+1) {
    background-color: #e4e4e4;
}

td, th {
    padding: 15px 29px;
}
.card.large {
    height: 400px
}

a.category {
    float: right;
    font-size: 13px;
    color: #cacaca !important;
    cursor: pointer;
    margin-right: 0 !important;
}

.category::before {
    font-family: FontAwesome;
    content: '\f02b';
    margin-right: 7px;
}

a.startup {
    font-size: 13px;
}

.startup::before {
    font-family: FontAwesome;
    content: '\f1ad';
    margin-right: 10px;

}

h1 {
    font-size: 30px;
    text-align: center;
}

a.hashtag{
      transition: all 0.3s;
}

a.hashtag:hover {
    color: #00b0ff;
}

.page-subtitle {
    color: white;
    background: #467d92;
    padding: 20px 60px;
}

.metadata {
    color: #ffcf93;
    padding: 5px 20px;
    background: rgba(0, 0, 0, 0.43);
    position: absolute;
    z-index: 10;
    top: 15px;
    left: 15px;

}

.metadata span:first-child {
    margin-right: 10px;
}

.metadata span.retweets::before {
    font-family: FontAwesome;
    content: '\f079';
    margin-right: 5px;
}

.metadata span.likes::before {
    font-family: FontAwesome;
    content: '\f004';
    margin-right: 5px;

}

span.retweets, span.likes {
    font-family: "Roboto", sans-serif;
}

.tweet-date {
    color: rgba(0, 0, 0, 0.28);
    font-family: "Roboto Cn", 'Roboto', 'sans-serif';
    font-size: 14px;
}

.open-in-twitter {
    float: right;
    color: #cacaca !important;

}