.card.large {
    height: 400px
}

a.category {
    float: right;
    font-size: 13px;
    color: #cacaca !important;
    cursor: pointer;
    margin-right: 0 !important;
}

.category::before {
    font-family: FontAwesome;
    content: '\f02b';
    margin-right: 10px;
}

a.startup {
    font-size: 13px;
}

.startup::before {
    font-family: FontAwesome;
    content: '\f1ad';
    margin-right: 10px;

}

h1 {
    font-size: 30px;
    text-align: center;
}

a.hashtag{
      transition: all 0.3s;
}

a.hashtag:hover {
    color: #00b0ff;
}

.page-subtitle {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.24);
    color: white;
    background: #03A9F4 none repeat scroll 0% 0%;
    padding: 20px 60px;
}