{% embed 'base.html.twig' with {'title': 'Home', 'tweetsPerRow' : 3} %}

{% block body %}


<div class="row">
    <div class="col s12 m12 l4 offset-l4">
        <h1 class="z-depth-1 page-subtitle animated bounceIn">{{ subtitle }}</h1>
    </div>
</div>
    {% for tweet in tweets %}
        {% if loop.index0 % tweetsPerRow == 0 %}
            <div class="row">
        {% endif %}

                <div class="col s12 m12 l4">
                    {% embed 'template/tweet.html.twig' %}{% endembed %}
                </div>

        {% if loop.index % tweetsPerRow == 0 %}
            </div>
        {% endif %}
    {% endfor %}


{% endblock %}

{% block stylesheets %}
{% endblock %}

{% endembed %}
